/*!
global > color
------------------------------
*/
:root {
  --color-bg-primary: #dd1b57;
  --color-bg-secondary: #f5f5f5;
  --color-bg-white: #ffffff;
  --color-border-gray: #ededed;
  --color-font-primary: #dd1b57;
  --color-font-white: #ffffff;
  --color-font-base: #151515;
}
