@use "../global" as g;

/*!
layout > footer
------------------------------
*/
.footer {
  background-color: var(--color-bg-primary);
  padding: 0 20px;
}

.footer__nav {
  display: flex;
  flex-wrap: wrap;
  padding-top: 42px;
  padding-bottom: 17px;
}
.footer__nav--item {
  margin-right: 26px;
}

.footer__nav--item:last-child {
  margin-right: 0;
}
.footer__nav {
  font-size: 12px;
  color: var(--color-font-white);
  @include g.mq() {
    font-size: 14px;
  }
}

.footer__copyright {
  font-size: 10px;
  color: var(--color-font-white);
  padding-bottom: 30px;
}
