@use "../../global" as g;

/*!
page > top > top-kv
------------------------------
*/
.top__kv {
  height: 460px;
  background-image: url("https://928sekine.github.io/corporate-site-practice/img/sp_mv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.top__kv--copy {
  width: 272px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
