@use "../../global" as g;

/*!
page > top > top-kv
------------------------------
*/
.top__kv {
  height: 460px;
  // background-image: url("https://928sekine.github.io/corporate-site-practice/img/sp_mv.jpg");
  background-image: url("/img/sp_mv.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @include g.mq() {
    // background-image: url("https://928sekine.github.io/corporate-site-practice/img/pc_mv.jpg");
    background-image: url("/img/pc_mv.jpg");
  }
}
.top__kv--copy {
  // width: 272px;
  // position: absolute;
  // top: 50%;
  // left: 50%;
  // transform: translate(-50%, -50%);
  text-align: center;
}

.kv__title {
  font-size: 80px;
  line-height: 1.75;
  font-weight: 700;
  margin-bottom: 10px;
  color: var(--color-font-white);
  @include g.lineHeightSpaceFill(1.75);
  font-family: var(--font-family-base);
  @include g.mq() {
    font-size: 160px;
  }
}
.kv__title--subtitle {
  font-size: 20px;
  line-height: 1.75;
  // font-weight: 700;
  letter-spacing: 0.1em;
  color: var(--color-font-white);
  @include g.lineHeightSpaceFill(1.75);
  font-family: var(--font-family-base);
  @include g.mq() {
    font-size: 24px;
  }
}
